<!-- skills -->
<section class="{{ .Site.Data.strengths.color }}" style="background-color: {{ .Site.Data.strengths.code }}">
      
        <h2 class="heading">{{.Site.Data.strengths.title}}</h2>
        <div class="row">  
      {{ range .Site.Data.strengths.skill.skillbar }}
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="{{.color}}">
            <div class="wave" data-progress="{{.progress}}"></div>
          </div>
          <div class="card-footer" style="background: {{ .footercolor }}">
            <h4 class="card-title" style="font-size: .95rem; text-transform: capitalize; font-weight: 600;">{{.title }}</h4>
          </div>
        </div>
      </div>
      {{ end }}
  </div>
</section>
