{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

<div class="main-content">
	{{ if .Site.Data.about.enable }}{{ partial "about.html" . }}{{ end }}
	{{ if .Site.Data.education.enable }}{{ partial "education.html" . }}{{ end }}
	{{ if .Site.Data.experience.enable }}{{ partial "experience.html" . }}{{ end }}
	{{ if .Site.Data.technicalskills.enable }}{{ partial "technicalskills.html" . }}{{ end }}
	{{ if .Site.Data.projects.enable }}{{ partial "projects.html" . }}{{ end }}
	{{ if .Site.Data.skills.enable }}{{ partial "skills.html" . }}{{ end }}
	{{ if .Site.Data.strengths.skill.enable }}{{ partial "strengths.html" . }}{{ end }}
	
	
</div>

<div style="z-index: 4; position: relative;">
	{{ if gt (len (where .Data.Pages "Type" "blog")) 0 }}{{ partial "blog.html" . }}{{ end }}
	{{ if gt (len (where .Data.Pages "Type" "work")) 0 }}{{ partial "work.html" . }}{{ end }}
</div>

<div class="main-content">
	{{ partial "contact.html" . }}		
</div>

{{ partial "footer-scripts.html" . }}
	